<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./content.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>

<body>
    <div id="app">
        <h2>Presentations</h2>
        <table width="80%">
            <tr>
                <th width="30%">Name</th>
                <th width="55%">Description</th>
                <th width="15%">Speaker Name</th>
            </tr>
            <tr v-for="presentation in presentations" :key="presentation.id">
                <td><input type="text" v-model="presentation.name" @blur="updatePresentation(presentation)"></td>
                <td><input type="text" v-model="presentation.description" @blur="updatePresentation(presentation)"></td>
                <td><input type="text" v-model="presentation.speaker.name" readonly></td>
                <td><button @click="deletePresentation(presentation.id)">Delete</button></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Presentation Name" v-model="newPresentation.name"></td>
                <td><input type="text" placeholder="Description" v-model="newPresentation.description"></td>
                <td>
                    <select v-model="newPresentation.speakers_id">
                        <option value="0"></option>
                        <option v-for="speaker in speakers" :key="speaker.id" :value="speaker.id">
                            {{ speaker.name }}
                        </option>
                        </template>
                    </select>
                </td>
                <td><button @click="createPresentation()">Add</button></td>
            </tr>
        </table>
    </div>
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    presentations: [],
                    newPresentation: { name: '', speakers_id: -1 },
                    selectedSpeakerName: '',
                    speakers: []
                }
            },
            methods: {
                async fetchPresentations() {
                    const res = await fetch('/presentations?speaker=name');
                    this.presentations = await res.json();
                },

                async fetchSpeakers() {
                    const res = await fetch('/speakers');
                    this.speakers = await res.json();
                },

                async createPresentation() {
                    if (!this.newPresentation.name) presentations;

                    const res = await fetch('/presentations', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(this.newPresentation)
                    });

                    document.location.reload()
                },

                async updatePresentation(presentation) {
                    await fetch(`/presentations/${presentation.id}`, {
                        method: 'PUT',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(presentation)
                    });
                },

                async deletePresentation(id) {
                    await fetch(`/presentations/${id}`, { method: 'DELETE' });
                    document.location.reload()
                }
            },
            async mounted() {
                this.fetchPresentations();
                this.fetchSpeakers();
            }
        }).mount("#app");
    </script>
</body>

</html>